<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579669466156-licttn22nhb4dlvc4d3tdnbrhjnfgts6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579669466156-licttn22nhb4dlvc4d3tdnbrhjnfgts6</string>
	<key>API_KEY</key>
	<string>AIzaSyDZrQEGjoi67GOAzlgH8NuanE2EwrPm9oM</string>
	<key>GCM_SENDER_ID</key>
	<string>579669466156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebase</string>
	<key>PROJECT_ID</key>
	<string>crud-firebase-1b8ef</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-firebase-1b8ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579669466156:ios:1f1892776bbcac7d210589</string>
</dict>
</plist>